/* 반응형 디자인 적용 */
@media (max-width: 768px) {
  .storybook-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .storybook-header h1 {
    font-size: 18px;
    margin: 6px 0;
  }

  .storybook-header .welcome {
    font-size: 13px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .storybook-header button + button {
    margin-left: 5px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .storybook-header h1 {
    font-size: 16px;
  }

  .storybook-header .welcome {
    font-size: 12px;
  }
}