.MyProject {
    text-align: left;
    padding: 20px;
  }
  
  .MyProject-title {
    text-align: center; /* 가운데 정렬 */
    font-size: 3.5rem; /* 더 크게 설정 */
    margin-top: 160px;
    margin-bottom: 40px;
  }
  
  .MyProject-content {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
  }
  
  .MyProject-text {
    max-width: 600px;
    margin-right: 20px; /* 오른쪽 여백 추가 */
    margin-left: 20px;
  }
  
  .MyProject-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .MyProject-text p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 0 20px;
  }
  
  .MyProject-link {
    margin-top: 20px;
  }
  
  .MyProject-image {
    width: 600px;
    height: auto;
    border-radius: 10px;
  }
  